# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Global ignore
.idea
compile_commands.json
configure~
config.h.in~

# Node, bower, etc.
node_modules/

# Vagrant files
.vagrant

# PHP build artifacts
ext/opcache/jit/zend_jit_arm64.c
